.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
}

.nav {
  height: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: none;
}
.nav__menu-active {
  background: #fff;
  position: absolute;
  width: 65%;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  animation: fadeInRight .3s forwards;
}
.nav__title,
.nav__toggle {
  color: var(--white-color);
}

.nav__title {
  font-weight: bold 600;
  text-decoration: none;
  font-size: 1.5rem;

}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}
.nav__list {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
.nav__item {
  padding: 30px;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  color: var(--text-color-light);
  font-weight: 600;
  text-transform: uppercase;
}
.nav__link:hover{
  color:var(--text-color)
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}
.nav__logo{
  color:var(--text-color);
  padding-top: 10px;
  padding-right: 5px;
  font-size: var(--h1-font-size);
}

.navbar-burger{
  color: var(--white-color);
  padding-right:2rem;
  font-size: 1.8rem;
  padding-top: 10px;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
